<div class="calculator">
    <input [(ngModel)]="equation" type="text" class="calculator-screen" value="0" disabled />
    <div class="calculator-keys">

      <button name="plus" type="button" class="operator" (click)="pressKey('+')" value="+">+</button>
      <button type="button" class="operator" (click)="pressKey('-')" value="-">-</button>
      <button type="button" class="operator" (click)="pressKey('*')" value="*">&times;</button>
      <button type="button" class="operator" (click)="pressKey('/')" value="/">&divide;</button>
  
      <button name="btn7" type="button" (click)="pressKey('7')" value="7">7</button>
      <button name="btn8" type="button" (click)="pressKey('8')" value="8">8</button>
      <button name="btn9" type="button" (click)="pressKey('9')" value="9">9</button>   
  
      <button name="btn4" type="button" (click)="pressKey('4')" value="4">4</button>
      <button name="btn5" type="button" (click)="pressKey('5')" value="5">5</button>
      <button name="btn6" type="button" (click)="pressKey('6')" value="6">6</button>

      <button name="btn1" type="button" (click)="pressKey('1')" value="1">1</button>
      <button name="btn2" type="button" (click)="pressKey('2')" value="2">2</button>
      <button name="btn3" type="button" (click)="pressKey('3')" value="3">3</button>
      <button name="btn0" type="button" (click)="pressKey('0')" value="0">0</button>
      <button type="button" class="decimal" (click)="pressKey('.')" value=".">.</button>
      <button type="button" class="all-clear" (click)="allClear()" value="all-clear">AC</button>
      <button type="button" class="equal-sign" (click)="getAnswer()" value="=">=</button>
      
    </div>
  </div>