<!--EXPLORE OUR SERVICES SECTION-->
<section class="bg-white margin" id="ourservices">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-da--nger mt-0">
                    EXPLORE OUR SERVICES
                </h2>
                <hr class="divider danger my-3 px-5">
            </div> 
        </div>
        <div class="row justify-content-center">
                <div class="container my-4">
            
                        <!--Carousel Wrapper-->
                        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                          <!--Controls-->
                            <a class="btn-floating btnr" href="#multi-item-example" data-slide="prev"><img id="bt1" src="assets/images/arrow_left_inactif@2x.png"/></a>
                            <a class="btn-floating btnf" href="#multi-item-example" data-slide="next"><img id="bt2" src="assets/images/arrow_right_inactif@2x.png"/></a>
                          <!--/.Controls-->
                          <!--Slides-->
                          <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner row w-100 mx-auto">
                              <div class="carousel-item col-md-4 active"*ngFor="let x of categories; let isFirst = first"  [class.active]="isFirst">
                                <div class="card">
                                  <img class="card-img-top img-fluid" src="http://{{x.imagePath}}" alt="Card image cap">
                                  <div class="card-body">
                                    <hr class="divider danger my-2">
                                    <h4 class="card-title">{{x.label}}</h4>
                                    <p class="card-text ct">{{x.description}}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                          <!--/.Slides-->
                    
                        </div>
                        <!--/.Carousel Wrapper-->
                    
                    
                      </div>
        </div>
        <div class="row justify-content-center">
          <button class="button">EXPLORE ALL</button>      
        </div>
    </div>
</section>

<!--/EXPLORE OUR SERVICES SECTION-->
